{% extends 'base.html' %}

{% block content %}
    <h1 class="skeleton-heading">About Us</h1>
        <div class="p-4 justify-content-center">
            <p>
                Welcome to Best Cars, 
                home to the best cars in North America. 
                We sell domestic and imported cars at reasonable prices.
            </p>
            </br>
            <p>
                Best Cars dealership was founded in 2003 after a decision was made to 
                move from the trade side of the business into the retail side. A family business 
                employing four generations of the same family and over 30 staff. 
                We at Best Cars dealership have built our reputation on customer service with over 50% 
                of the business being loyal customers who keep coming back to us. 
                We are a 'Highly rated' Auto Trader dealer and a 'Top rated' Car Gurus dealer.
                We have over 180 cars on our site that cover a wide range of different types, models and 
                styles, together with a purpose-built workshop, valet bay & 'smart' repair centre.
                The staff bring with them a wealth of experience from across the motor industry 
                adding up to over 130 years of motor trade knowledge and experience.
                Most of our staff have been with us long term- an unusual feat in the motor trade 
                so the salesman you purchase your car from is usually here if you come back to see us. 
                Our workshop staff have been with us since the beginning. 
                
                We found fame in 2009 when our cars were used in the filming of "The Fast and The Furious". 
                Our cars are priced from £3,000 - £150,000 and we 
                carry a stock of over 180 cars. If we don't have what you want we 
                can usually find it for you. We also specialise in Finance (subject to status) 
                for all kinds of credit ratings and deal with most of the major companies and specialist brokers. 
                Need a warranty? We offer up to 4 years Trading Standards Approved warranty on the majority of 
                our stock with repair centres across the UK. 
            </p>
            </br>
            <p><a style="color:black; font-weight: bold;" href="{% url 'djangoapp:contact' %}">Get in touch with us today!</a></p>
    </div>    
{% endblock %}