{% extends 'base.html' %}
{% block content %}
    {% if reviews %}
        {% if user.is_authenticated %}
            <div style="margin: 10px;">
                <a class="btn btn-primary" href="{% url 'djangoapp:add_review' dealer_id %}"><b>Write a car review</b></a>
            </div>
        {% endif %}
        <div class="card-columns">
            {% for review in reviews %}
                {% if review.car_make %}
                <div class="card" style="height: 300px; overflow: scroll; overflow-x: hidden;">
                    <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-left" style="float: left; height: 40px; width: 40px; display: inline-block;">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title" style="display: inline-block;">{{ review.car_make }}, {{ review.car_model }}</h5>
                        <h5 class="card-title">{{ review.car_year }}</h5>
                        <p class="card-text" style="text-align: left;">{{ review.review }}</p>
                    </div>
                </div>
                <!-- some review data may be missing , using default values-->
                {% else %}
                <div class="card" style="height: 300px; overflow: scroll; overflow-x: hidden;">
                    <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-left" style="float: left; height: 40px; width: 40px; display: inline-block;">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title" style="display: inline-block;">Review</h5>
                        <h5 class="card-title"></h5>
                        <p class="card-text" style="text-align: left;">{{ review.review }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

    {% else %}
        <p></br>There are no reviews for this dealership.</br></p>
        {% if user.is_authenticated %}
            <div style="margin: 10px;">
                <a class="btn btn-primary" href="{% url 'djangoapp:add_review' dealer_id %}"><b>Write a car review</b></a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}