{% extends 'base.html' %}

{% block content %}
    <h3></br>This is the index page.</h3>
    <!--Add a dealer table here -->
    <!-- <div class="container">
        <table class="table" id="table" data-filter-control="true">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Dealer Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col" data-filter-control="select">State</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer in dealer_list %}
                <tr>
                    <td>{{dealer.id}}</td>
                    <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a> </td>
                    <td>{{dealer.address}}</td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.state}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <script>
            $(function(){
                $('#table').bootstrapTable()
            })
        </script> -->
{% endblock %}