{% extends 'base.html' %}

{% block content %}
    <h1></br>Our dealerships</h3>
    <!-- Dealer table -->
    <div class="container">
        <table class="table" id="table" data-filter-control="true">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Dealer Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Address</th>
                    <th scope="col">Zip</th>
                    <th scope="col" data-filter-control="select">State</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer in dealerships %}
                <tr>
                    <td>{{dealer.id}}</td>
                    <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.address}}</td>
                    <td>{{dealer.zip}}</td>
                    <td>{{dealer.state}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- turn-on filter control for the table -->
    <script>
        $(function(){
            $('#table').bootstrapTable()
        })
    </script>
{% endblock %}